<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @dish.title %>
</p>

<p>
  <strong>Dish type:</strong>
  <%= @dish.dish_type %>
</p>

<p>
  <strong>Ingredients:</strong>
  <%= @dish.ingredients %>
</p>

<p>
  <strong>Description:</strong>
  <%= @dish.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @dish.price %>
</p>

<p>
  <strong>Restaurant:</strong>
  <%= @dish.restaurant_id %>
</p>

<%= link_to 'Edit', edit_dish_path(@dish) %> |
<%= link_to 'Back', dishes_path %>
